<!DOCTYPE html>
<html>
<head>
  <title>SpringConference2012</title>
	<%= csrf_meta_tag %>
	<!--[if lt IE9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<~[endif]-->
	<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
	<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
	<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
	<%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>
<body class="twoColFixRtHdr">

<div id="container">
  <div id="header">

   <nav class="round">
     <ul>
       <li><%= link_to "Login", '#' %></li>
     </ul>
   </nav>
   <%= image_tag("header_logo.png", :alt => "Toastmasters Logo") %>
   
    
<!-- Drop-down menu -->
    
	<div id="nav">
		<ul>
			<li class="first"><%= link_to "Home", root_path %></li>
			<li><%= link_to "Weekend Agenda", agenda_path %></li>
			<li><a href="#">Conference</a>
				<ul>					
					<li><%= link_to "Feature Speakers and Events", feature_speakers_and_events_path %></li>
					<li><%= link_to "Photo Gallery", photo_gallery_path %></li>
					
				</ul>
			</li>
			<li><%= link_to "Education Sessions", '#' %></li>
			<li><%= link_to "Sponsors", sponsors_path %></li>
			<li><%= link_to "Contact Us", contact_us_path %></li>
		</ul>
	</div>
  <!-- end #header --></div>
  <div id="sidebar1">
    <%= link_to "Register Now!", registration_path, :class => "registration_button round" %>



  <!-- end #sidebar1 --></div>

<%= yield %>

<!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats --><br class="clearfloat" />
  <div id="footer">
   
	<center><font size=1>Original design by Matthew Dumont</font></center>
    
    <br />
  <!-- end #footer --></div>
<%= debug(params) if Rails.env.development? %>
<!-- end #container --></div>

</body>
</html>
